body {
  margin: 0; }

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .slider-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    font-size: 70px;
    text-align: center; }
  .slider-controls {
    position: absolute;
    z-index: 2;
    display: none;
    text-align: center;
    bottom: 5%;
    width: 100%; }
    .slider-controls i {
      font-size: 50px;
      margin: 20px;
      color: rgba(255, 255, 255, 0.5); }
      .slider-controls i:hover, .slider-controls i:active {
        color: white; }
  .slider-indicators {
    position: absolute;
    z-index: 2;
    display: none;
    text-align: center;
    bottom: 15%;
    width: 100%; }
    .slider-indicators i {
      font-size: 30px;
      margin: 20px;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s; }
      .slider-indicators i:hover, .slider-indicators i:active {
        color: white; }
      .slider-indicators i.fas {
        color: white; }

@media (max-width: 768px) {
  .slider-controls {
    bottom: 50%; }
  .slider-indicators i {
    font-size: 20px; }
  .slider-controls i {
    font-size: 30px;
    position: absolute;
    margin: 0; }
    .slider-controls i:first-child {
      left: 5px; }
    .slider-controls i:last-child {
      right: 5px; }
    .slider-controls i:nth-child(2) {
      right: calc(50% - 15px);
      left: calc(50% - 15px); }
    .slider-controls i .fa-pause {
      opacity: 0; } }
